<div class='container profile'>
	<img src="http://i.imgur.com/2kr3TIL.jpg" class='avatar left'>
	<div class='bio-view-container container left'>
		<h3 class='title'>
			<% if (user.escape('first_name') && user.escape('last_name') ) {%>
				<%= user.escape("first_name") %> <%= user.escape("last_name") %>
			<%} else { %>
				<%= user.escape("username") %>
			<% } %>
		</h3>
		<div>
			<% if (user.escape("city") ) {%>
				<%= user.escape("city") %>
			<%} else { %>
				some where
			<% } %>
			<% if (user.escape("country_state") ) {%>
				, <%= user.escape("country_state") %>
			<%} else { %>
				, world
			<% } %>
		</div>
		<div class='bio'>
			<% if (user.escape("bio") ) {%>
				<%= user.escape("bio") %>
			<%} else { %>
				tell the world about yourself
			<% } %>
		</div>
		<div class='message-btn btn hidden'>Message</div>
	</div>
</div>