<section class='logo-container <%= logo_dir%>'>
	<img src="<%= logo_img_url%>" class='info-logo' >
</section>

<section class='article-container <%= article_dir %>' >
	<h3><%= title%></h3>
	<article> <%= info%></article>
</section>

