<!DOCTYPE html>
<html>
<head>
  <title>Artcircle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script id="current-user-id" data-current-user-id="<%= signed_in? ? current_user.id : 0%>"></script>

</head>
<body>

<%= yield %>

</body>
</html>
